# Terraform state files
*.tfstate
*.tfstate.*

# Terraform cache
.terraform/

# Terraform lock file
.terraform.lock.hcl

# Variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
*.pem
.env
